exclude: '\.wxs$'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
        args: ['--maxkb=100000']

-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
        -   id: fmt
