[workspace]

members = [
    "vsvg",
    "vsvg-cli",
    "vsvg-viewer",
    "vsvg-sketch",
    "vsvg-sketch-derive",
    "vsvg-multi",
]

resolver = "2"

[patch.crates-io]
usvg = { git = "https://github.com/abey79/resvg", branch="vsvg" }
rosvgtree = { git = "https://github.com/abey79/resvg", branch="vsvg" }


[workspace.dependencies]
egui = "0.22.0"
eframe = { version = "0.22.0", default-features = false, features = [
    "accesskit",
    "default_fonts",
    "persistence",
    "wgpu",
] }
wgpu = "0.16.3" # same a egui
serde = { version = "1", features = ["derive", "rc"] }
kurbo = "0.9.1"
rand = "0.8.5"
rand_chacha = "0.3.1"
rand_distr = "0.4.3"
anyhow = "1"
itertools = "0.11.0"
web-time = "0.2.0"
