[workspace]
members = [
    "crates/*"
]
resolver = "2"

[workspace.dependencies]
anyhow = "1"
convert_case = "0.6.0"
eframe = { version = "0.22.0", default-features = false, features = [
    "accesskit",
    "default_fonts",
    "persistence",
    "wgpu",
] }
egui = "0.22.0"
getrandom = { version = "0", features = ["js"] } # wasm support
itertools = "0.11.0"
kurbo = "0.9.1"
log = "0.4.20"
rand = "0.8.5"
rand_chacha = "0.3.1"
rand_distr = "0.4.3"
serde = { version = "1", features = ["derive", "rc"] }
serde_json = "1.0.107"
thiserror = "1.0.49"
web-time = "0.2.0"
wgpu = {version = "0.16.3", default-features = false, features = ["webgl"] } # same a egui
