[package]
name = "vsvg"
description = "Rust prototype of vpype-core V2"
authors = ["Antoine Beyeler"]
version = "0.1.0-alpha.0"
edition = "2021"


[dependencies]
anyhow.workspace = true
arrayvec = "0.7.2"
base64 = "0.21.4"
bitvec = "1.0.1"
indexmap = { version = "1.9.2", features = ["rayon"] }
kdtree = "0.7.0"
kurbo.workspace = true
lazy_static = "1.4.0"
log.workspace = true
lyon_geom = "1.0.4"
quick-xml = "0.30.0"
rayon = "1.6.1"
rctree = "*"  # Let usvg decide on the version
regex = "1.7.1"
rosvgtree = "0.3.0"
serde.workspace = true
serde_json.workspace = true
svg = "0.13.1"
thiserror.workspace = true
time = { version = "0.3.20", features = ["formatting"] }
usvg = "0.35.0"

geo = { version = "0.26.0", optional = true }

# optional dependencies, mainly for Point interop.
egui = { workspace = true, optional = true }
glam = { version = "0", optional = true }
bevy = { version = "0", optional = true, default-features = false }

[dev-dependencies]
approx = "0.5.1"
rand.workspace = true
rand_chacha.workspace = true
getrandom.workspace = true

[target.'cfg(not(target_arch = "wasm32"))'.dev-dependencies]
criterion = "0.4.0"

[features]
default = ["geo"]

[[bench]]
name = "bench_path_index"
harness = false
