name: Wasm CI

on:
  push:
    branches:
      - master
      - release/*
  pull_request:
    branches:
      - master
      - release/*

jobs:
  check:
    name: "clippy, build"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: moonrepo/setup-rust@v1
        with:
          targets: wasm32-unknown-unknown
          components: clippy

      - uses: taiki-e/install-action@v2
        with:
          tool: just

      - uses: jetli/wasm-bindgen-action@v0.2.0
        with:
          version: 0.2.100

      - run: just clippy-wasm

      - run: just web-build
