name: Native CI

on:
  push:
    branches:
      - master
      - release/*
  pull_request:
    branches:
      - master
      - release/*

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - run: sudo apt-get install -y libgeos-dev

      - uses: actions/checkout@v3
      - uses: moonrepo/setup-rust@v1
        with:
          components: rustfmt, clippy

      - uses: taiki-e/install-action@v2
        with:
          tool: just,taplo-cli

      - run: just fmt-check
      - run: just toml-fmt-check
      - run: just clippy

  test:
    runs-on: ubuntu-latest
    steps:
      - run: sudo apt-get install -y libgeos-dev

      - uses: actions/checkout@v3
      - uses: moonrepo/setup-rust@v1
        with:
          components: rustfmt, clippy

      - uses: taiki-e/install-action@v2
        with:
          tool: just

      - run: just test
      - run: just doc-test

  docs:
    runs-on: ubuntu-latest
    steps:
      - run: sudo apt-get install -y libgeos-dev

      - uses: actions/checkout@v3
      - uses: moonrepo/setup-rust@v1
        with:
          components: rustfmt, clippy

      - uses: taiki-e/install-action@v2
        with:
          tool: just

      - run: just docs
