name: Wasm CI

on:
  push:
    branches:
      - master
      - release/*
  pull_request:
    branches:
      - master
      - release/*

jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: moonrepo/setup-rust@v1
        with:
          targets: wasm32-unknown-unknown
          components: clippy

      - uses: taiki-e/install-action@v2
        with:
          tool: just

      - run: just clippy-wasm

  check-generated:
    name: "check generated code"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: moonrepo/setup-rust@v1

      - run: cargo build -p whiskers-gallery
      - run: git diff --exit-code crates/whiskers-gallery/src/generated.rs

  check-thumbnails:
    name: "check thumbnails"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: moonrepo/setup-rust@v1

      - run: cargo run --bin generate-thumbnails
      - run: git diff --exit-code crates/whiskers-gallery/web/thumbnails/

  build-wasm:
    name: "build gallery wasm"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: moonrepo/setup-rust@v1
        with:
          targets: wasm32-unknown-unknown

      - uses: taiki-e/install-action@v2
        with:
          tool: just

      - uses: jetli/wasm-bindgen-action@v0.2.0
        with:
          version: 0.2.100

      - run: just gallery-wasm
